~/IdeaProjects/MyProject/out/
~/IdeaProjects/MyProject/.idea/
~/IdeaProjects/MyProject/MyProject.iml
~/IdeaProjects/MyProject/src/two/
~/IdeaProjects/MyProjectsrc/Tic_tac_toeGame/
~/IdeaProjects/FirstSpring/
~/IdeaProjects/PizzaApi/
~/IdeaProjects/Second_Spring/
~/IdeaProjects/Security/
